.greybottom{
    border-bottom: 1px solid #80BFFF;
}

.row .col-md-2 h3{

   font-family: sans-serif;
   text-align: center; 
  /* padding: 12px; ESSAYER DE CENTRER EN HAUTEUR*/
  }
.row .col-md-2 h3:hover{
   color:whitesmoke;   
        /*  */
  }


.row .col-md-2{
    background-color:#80BFFF;
}

.row .col-md-2:active{
    background-color: burlywood;
   font-family: Verdana, Geneva, Tahoma, sans-serif 
}
.img-character {
    width: 80px; height: 80px ; border-radius: 66px ;
}